//CSS Reset
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

/*img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}*/

input, button, textarea, select {
    font: inherit;
}

// Style
$clr-soft-blue: hsl(215, 51%, 70%);
$clr-cyan: hsl(178, 100%, 50%);
$clr-dark-blue-500: hsl(217, 54%, 11%);
$clr-dark-blue-400: hsl(216, 50%, 16%);
$clr-dark-blue-300: hsl(215, 32%, 27%);
$clr-white: hsl(0, 0%, 100%);

body {
    font-family: 'Outfit', sans-serif;
    background-color: $clr-dark-blue-500;
    display: grid;
    place-items: center;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $clr-cyan;
        }
    }

    main {
        padding: 1.5rem;

        .preview-card {
            background-color: $clr-dark-blue-400;
            padding: 1.5rem;
            border-radius: 1rem;
            display: grid;
            gap: 1rem;
            max-width: 300px;
            //border-bottom: 3px solid $clr-dark-blue-300;

            .nft__image{
                border-radius: .5rem;
                overflow: hidden;
                //position: relative;
                display: grid;
                place-items: center;
                cursor: pointer;
                &:hover {
                        
                    .hidden {
                        display: block;
                    }
                }

                img {
                    display: block;
                    max-width: 100%;
                    grid-area: 1 / 1 / -1 / -1;

                    
                }

                div {
                    background-color: $clr-cyan;
                    opacity: 50%;
                    height: 0;
                    padding-bottom: 100%;
                    width: 100%;
                    grid-area: 1 / 1 / -1 / -1
                    
                }

                .hidden {
                    display: none;
                }
            }

            .nft__info {
                display: grid;
                gap: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $clr-dark-blue-300;

                .nft__title {
                    color: $clr-white;
                    font-size: 1.25rem;
                    font-weight: 600;
                }
                .nft__title:hover {
                    color: $clr-cyan;
                    cursor: pointer;
                    
                }

                .nft__description {
                    color: $clr-soft-blue;
                    font-size: 1rem;
                    font-weight: 400;
                }

                .flexbox-item {
                    display: flex;
                    justify-content: space-between;

                    .nft__price {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        img {
                            //display: inline-block;
                        }

                        p {
                            //display: inline-block;
                            color: $clr-cyan;
                            font-weight: 600;
                        }
                        
                    }

                    .nft__time-left {
                        display: flex;
                        gap: .5rem;
                        align-items: center;

                        p {
                            color: $clr-soft-blue;
                            font-weight: 400;
                        }
                    }
                }

                
            }

            .creator-info {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    height: 2rem;
                    border: .125rem solid $clr-white;
                    border-radius: 50%;
                }

                p {
                    color: $clr-soft-blue;

                    .creator-name {
                        color: $clr-white;
                        font-weight: 300;

                        /*&:hover {
                            color: $clr-cyan;
                            cursor: pointer;
                        }*/
                    }
                    
                }
            }   
        }
    }
}

